qa
temp
output
input-cache

infrastructure/ig-expansion-parameters.json
infrastructure/ig-expansion-parameters.json
infrastructure/ig-new.json
infrastructure/ig-new.xml
infrastructure/ig-validation-parameters.json

/input/images/Thumbs.db
template
